.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

# Ignore renv
renv/

# backup
*~
*#
*.save
*.SAVE
*.BAK
*.bak


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# Compiled objects from source packages
src/*.o
src/*.so
src/*.dll
src/symbols.rds

# R graphics device artifacts
Rplots.pdf
**/Rplots.pdf

# RStudio files
.Rproj.user/

# debug files and folders
ERROR_*
data/*
data_public/*
data_shared/*
trace/*
logs/*.rds
/logs/
USER_INPUT/
user_input/

# Dolt database files (added by bd init)
.dolt/
*.db
